{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid"> {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-exchange"></i> {{ heading_title }}</h3>
            </div>
            <div class="panel-body">

                <div class="panel-heading">
                    <h3 class="panel-title"> <strong><center>{{ text_filter }}</center></strong></h3>
                </div>
                <div class="panel-body">
                    <form  id="product_form" name="product_form" method="post" >
                        <input type="hidden" name="category_id" id="category_update_id" value="">
                        <div class="form-group">
                            <label class="control-label" for="input-name">{{ entry_name }}</label>
                            <input type="number" name="increase_price" value="{{ increase_price }}" placeholder="{{ entry_name }}" id="increase_price" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-model">{{ entry_price }}</label>
                            <input type="number" name="reduce_price" value="{{ reduce_price }}" placeholder="{{ entry_price }}" id="increase_price" class="form-control" />
                        </div>
                        <div type="submit" value="Отправить"  class="btn btn-default" title="Подтвердить изменения" onclick="AjaxFormRequest('product_form', {{ url_update }})" ><i class="fa fa-pencil"></i></div>
                    </form>
                    <div class="form-group text-right">
                        <script type="text/javascript"><!--
                            function AjaxFormRequest( product_form, url) {
                                $.post('index.php?route=tool/intent_edit_price/updateProduct&user_token={{ user_token }}',$('#product_form').serializeArray(),function(data){
                                    console.log(data),
                                        location = 'index.php?route=tool/intent_edit_price&user_token={{ user_token }}';

                                });
                            }
                            //--></script>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-category" data-toggle="tab">{{ tab_category }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-category">

                        <form id="product" name="product" method="post"  id="form-export" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_export }}</label>
                                <div class="col-sm-10">

                                    <select name="categoty" id="category_id" class="form-control" >
                                        <option value="#" selected="selected">Выбирите категорию</option>
                                        {% for category in categories %}
                                            {% if category.category_id in categoty %}
                                                <option value="{{ category.category_id }}" selected="selected">{{ category.name }}</option>
                                            {% else %}
                                                <option value="{{ category.category_id }}" >{{ category.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">


                                    <button type="submit"   id="button_list_product" form="form-export" data-toggle="tooltip" title="" data-original-title="Получить" ><i class="fa fa-refresh"></i></button>
                                    <script type="text/javascript"><!--
                                        $('#button_list_product').bind('click', function() {

                                            $.post('index.php?route=tool/intent_edit_price/receiptOfGoods&user_token={{ user_token }}',{category_id:$('#category_id').val()},function (data) {
                                                console.log(data);
                                                $('#category_update_id').val($('#category_id').val());
                                                $('#products').html(data);
                                            });

                                        });
                                        //--></script>

                                </div>
                            </div>
                        </form>

                        <div id="products">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





</div>
{{ footer }}